@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
::-webkit-scrollbar{
    width: 2px;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;

}
.w-100{
    width: 100%;
}
.d-flex{
    display: flex;
}
.el-center{
    justify-content: center;
    align-items: center;
}
.justify-content-end{
    justify-content: end;
}
