<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project || Preview</title>
    <link rel="stylesheet" href="./assets/css/_base.css">
    <link rel="stylesheet" href="./assets/css/components/button/button.css">
    <link rel="stylesheet" href="./assets/css/components/input/input.css">
    <link rel="stylesheet" href="./assets/css/pages/home_page.css">
</head>

<body>
    <main>
        <div id="search-container">
            <div class="inputs">
                <input type="text" id="name" placeholder="Ad">
                <input type="text" id="surname" placeholder="Soyad">
            </div>
            <button class="btn search-btn">
                Axtar
            </button>
        </div>
        <div id="table-container">


            <div class="container-item">
                <div class="short-details">
                    <div class="short-infos">
                        <img src="assets/icons/profile-icon.svg" alt="">
                        <div class="personal-short-info">Adam1 Soyad1 Ata adi1</div>
                    </div>
                    <button class="btn">
                        <a href="http://maps.google.co.uk/maps?q=51.917168,-0.227051">Xəritədə Göstər</a>
                    </button>
                </div>
                <div class="more-details">
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Qohumluq</div>
                            <div class="detail-value">A/B</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Təvəllüd</div>
                            <div class="detail-value">02.02.1974</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İşğalRayon</div>
                            <div class="detail-value">Bakı</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Kənd</div>
                            <div class="detail-value">Yasamal</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">FIN</div>
                            <div class="detail-value">ABC2DEF</div>
                        </div>

                        <div class="details-sections">
                            <div class="detail-header">Telefon nömrəsi</div>
                            <div class="detail-value">+994507883456</div>
                            <div class="detail-value">+994557883456</div>

                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Rayon</div>
                            <div class="detail-value">Sumqayıt</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Obyekt tipi</div>
                            <div class="detail-value">Şəxsi mənzil kupçasız</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Ünvan</div>
                            <div class="detail-value">Her hansı bir
                                uzun ünvan yeri</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Təhsil</div>
                            <div class="detail-value">Şagird-orta</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Xüsusi Status</div>
                            <div class="detail-value">Müharibə veteranı</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Peşə adı</div>
                            <div class="detail-value">nəsə</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İş strukturu</div>
                            <div class="detail-value">Dövlət</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İş vəzifəsi</div>
                            <div class="detail-value">Digər</div>
                        </div>
                    </section>
                    <div class="details-sections">
                        <div class="detail-header">Hal=hazırdakı vəzifə</div>
                        <div class="detail-value">Təqaüüdçü</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">Ümumi məlumat</div>
                        <div class="detail-value">Lorem ipsum dolor sit amet consectetur. Volutpat aliquam massa a
                            posuere turpis nunc. Eu a ultricies quis tristique et orci.</div>
                    </div>
                </div>
            </div>
            <div class="container-item">
                <div class="short-details">
                    <div class="short-infos">
                        <img src="assets/icons/profile-icon.svg" alt="">
                        <div class="personal-short-info">Adam2 Soyad2 Ata adi2</div>
                    </div>
                    <button class="btn">
                        <a href="https://maps.google.com/?cid=424320506738430745&entry=gps"> Xəritədə Göstər</a>
                    </button>
                </div>
                <div class="more-details">
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Qohumluq</div>
                            <div class="detail-value">A/B</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Təvəllüd</div>
                            <div class="detail-value">02.02.1974</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İşğalRayon</div>
                            <div class="detail-value">Bakı</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Kənd</div>
                            <div class="detail-value">Yasamal</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">FIN</div>
                            <div class="detail-value">ABC2DEF</div>
                        </div>

                        <div class="details-sections">
                            <div class="detail-header">Telefon nömrəsi</div>
                            <div class="detail-value">+994507883456</div>
                            <div class="detail-value">+994557883456</div>

                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Rayon</div>
                            <div class="detail-value">Sumqayıt</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Obyekt tipi</div>
                            <div class="detail-value">Şəxsi mənzil kupçasız</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Ünvan</div>
                            <div class="detail-value">Her hansı bir
                                uzun ünvan yeri</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Təhsil</div>
                            <div class="detail-value">Şagird-orta</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Xüsusi Status</div>
                            <div class="detail-value">Müharibə veteranı</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Peşə adı</div>
                            <div class="detail-value">nəsə</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İş strukturu</div>
                            <div class="detail-value">Dövlət</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İş vəzifəsi</div>
                            <div class="detail-value">Digər</div>
                        </div>
                    </section>
                    <div class="details-sections">
                        <div class="detail-header">Hal=hazırdakı vəzifə</div>
                        <div class="detail-value">Təqaüüdçü</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">Ümumi məlumat</div>
                        <div class="detail-value">Lorem ipsum dolor sit amet consectetur. Volutpat aliquam massa a
                            posuere turpis nunc. Eu a ultricies quis tristique et orci.</div>
                    </div>
                </div>
            </div>
            <div class="container-item">
                <div class="short-details">
                    <div class="short-infos">
                        <img src="assets/icons/profile-icon.svg" alt="">
                        <div class="personal-short-info">Adam3 Soyad3 Ata adi3</div>
                    </div>
                    <button class="btn">
                        <a
                            href="https://www.google.com/maps/place/161+sayl%C4%B1+tam+orta+m%C9%99kt%C9%99b/@40.3722048,49.8027446,15.5z/data=!4m6!3m5!1s0x40307d08bfa56afd:0x3c0117a4f2926e93!8m2!3d40.3756714!4d49.7969159!16s%2Fg%2F11gycqd4r2?entry=ttu">Xəritədə
                            Göstər</a>
                    </button>
                </div>
                <div class="more-details">
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Qohumluq</div>
                            <div class="detail-value">A/B</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Təvəllüd</div>
                            <div class="detail-value">02.02.1974</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İşğalRayon</div>
                            <div class="detail-value">Bakı</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Kənd</div>
                            <div class="detail-value">Yasamal</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">FIN</div>
                            <div class="detail-value">ABC2DEF</div>
                        </div>

                        <div class="details-sections">
                            <div class="detail-header">Telefon nömrəsi</div>
                            <div class="detail-value">+994507883456</div>
                            <div class="detail-value">+994557883456</div>

                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Rayon</div>
                            <div class="detail-value">Sumqayıt</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Obyekt tipi</div>
                            <div class="detail-value">Şəxsi mənzil kupçasız</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Ünvan</div>
                            <div class="detail-value">Her hansı bir
                                uzun ünvan yeri</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Təhsil</div>
                            <div class="detail-value">Şagird-orta</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Xüsusi Status</div>
                            <div class="detail-value">Müharibə veteranı</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Peşə adı</div>
                            <div class="detail-value">nəsə</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İş strukturu</div>
                            <div class="detail-value">Dövlət</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İş vəzifəsi</div>
                            <div class="detail-value">Digər</div>
                        </div>
                    </section>
                    <div class="details-sections">
                        <div class="detail-header">Hal=hazırdakı vəzifə</div>
                        <div class="detail-value">Təqaüüdçü</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">Ümumi məlumat</div>
                        <div class="detail-value">Lorem ipsum dolor sit amet consectetur. Volutpat aliquam massa a
                            posuere turpis nunc. Eu a ultricies quis tristique et orci.</div>
                    </div>
                </div>
            </div>
            <div class="container-item">
                <div class="short-details">
                    <div class="short-infos">
                        <img src="assets/icons/profile-icon.svg" alt="">
                        <div class="personal-short-info">Adam4 Soyad4 Ata adi4</div>
                    </div>
                    <button class="btn">
                        <a
                            href="https://www.google.com/maps/place/Sahil+Ba%C4%9F%C4%B1/@40.371869,49.8451224,18.01z/data=!4m6!3m5!1s0x40307dae5c39db6b:0x12d1ffce0d87fbfa!8m2!3d40.3732047!4d49.8457506!16s%2Fg%2F1vhq25pj?entry=ttu">Xəritədə
                            Göstər</a>
                    </button>
                </div>
                <div class="more-details">
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Qohumluq</div>
                            <div class="detail-value">A/B</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Təvəllüd</div>
                            <div class="detail-value">02.02.1974</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İşğalRayon</div>
                            <div class="detail-value">Bakı</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Kənd</div>
                            <div class="detail-value">Yasamal</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">FIN</div>
                            <div class="detail-value">ABC2DEF</div>
                        </div>

                        <div class="details-sections">
                            <div class="detail-header">Telefon nömrəsi</div>
                            <div class="detail-value">+994507883456</div>
                            <div class="detail-value">+994557883456</div>

                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Rayon</div>
                            <div class="detail-value">Sumqayıt</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Obyekt tipi</div>
                            <div class="detail-value">Şəxsi mənzil kupçasız</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Ünvan</div>
                            <div class="detail-value">Her hansı bir
                                uzun ünvan yeri</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Təhsil</div>
                            <div class="detail-value">Şagird-orta</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">Xüsusi Status</div>
                            <div class="detail-value">Müharibə veteranı</div>
                        </div>
                    </section>
                    <section>
                        <div class="details-sections">
                            <div class="detail-header">Peşə adı</div>
                            <div class="detail-value">nəsə</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İş strukturu</div>
                            <div class="detail-value">Dövlət</div>
                        </div>
                        <div class="details-sections">
                            <div class="detail-header">İş vəzifəsi</div>
                            <div class="detail-value">Digər</div>
                        </div>
                    </section>
                    <div class="details-sections">
                        <div class="detail-header">Hal=hazırdakı vəzifə</div>
                        <div class="detail-value">Təqaüüdçü</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">Ümumi məlumat</div>
                        <div class="detail-value">Lorem ipsum dolor sit amet consectetur. Volutpat aliquam massa a
                            posuere turpis nunc. Eu a ultricies quis tristique et orci.</div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!-- <script>
        const container_items = [...document.querySelectorAll(".container-item")];
        container_items.forEach(item => {
            item.addEventListener("click", e => {
                if (![...e.target.classList].includes("btn") && [...e.currentTarget.classList].includes("container-item")) {
                    console.log(e.target);
                    console.log();
                    const active = document.querySelector(".more-details.active");
                    e.currentTarget.querySelector(".more-details").classList.toggle("active");
                    if (active) active.classList.remove("active")

                }
            })
        })
        const name_inp = document.getElementById("name");
        const surname_inp = document.getElementById("surname");
        const search_btn = document.querySelector(".search-btn");
        const table_container = document.getElementById("table-container");
        const users = [
            {
                name: "adam1",
                surname: "soyad1",
                text: "Adam1 Soyad1 Ata adi1",
                link:"http://maps.google.co.uk/maps?q=51.917168,-0.227051"
            },
            {
                name: "adam2",
                surname: "soyad2",
                text: "Adam2 Soyad2 Ata adi2",
                link:"https://maps.google.com/?cid=424320506738430745&entry=gps"
            },
            {
                name: "adam3",
                surname: "soyad3",
                text: "Adam3 Soyad3 Ata adi3",
                link:"https://www.google.com/maps/place/161+sayl%C4%B1+tam+orta+m%C9%99kt%C9%99b/@40.3722048,49.8027446,15.5z/data=!4m6!3m5!1s0x40307d08bfa56afd:0x3c0117a4f2926e93!8m2!3d40.3756714!4d49.7969159!16s%2Fg%2F11gycqd4r2?entry=ttu"
            },
            {
                name: "adam4",
                surname: "soyad4",
                text: "Adam4 Soyad4 Ata adi4",
                link:"https://www.google.com/maps/place/Sahil+Ba%C4%9F%C4%B1/@40.371869,49.8451224,18.01z/data=!4m6!3m5!1s0x40307dae5c39db6b:0x12d1ffce0d87fbfa!8m2!3d40.3732047!4d49.8457506!16s%2Fg%2F1vhq25pj?entry=ttu"
            },
        ]
        const List = (array) => {
            table_container.innerHTML = ``
            array.forEach(element => {
                const div = document.createElement("div");
                div.classList.add("container-item");
                div.innerHTML = `
            <div class="short-details">
            <div class="short-infos">
                <img src="./assets/icons/profile-icon.svg" alt="">
                <div class="personal-short-info">${element.text}</div>
            </div>
            <button class="btn">
                <a href="${element.link}">Xəritədə Göstər</a>
                
            </button>
        </div>
        <div class="more-details">
                <section>
                    <div class="details-sections">
                        <div class="detail-header">Qohumluq</div>
                        <div class="detail-value">A/B</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">Təvəllüd</div>
                        <div class="detail-value">02.02.1974</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">İşğalRayon</div>
                        <div class="detail-value">Bakı</div>
                    </div>
                </section>
                <section>
                    <div class="details-sections">
                        <div class="detail-header">Kənd</div>
                        <div class="detail-value">Yasamal</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">FIN</div>
                        <div class="detail-value">ABC2DEF</div>
                    </div>

                    <div class="details-sections">
                        <div class="detail-header">Telefon nömrəsi</div>
                        <div class="detail-value">+994507883456</div>
                        <div class="detail-value">+994557883456</div>

                    </div>
                </section>
                <section>
                    <div class="details-sections">
                        <div class="detail-header">Rayon</div>
                        <div class="detail-value">Sumqayıt</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">Obyekt tipi</div>
                        <div class="detail-value">Şəxsi mənzil kupçasız</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">Ünvan</div>
                        <div class="detail-value">Her hansı bir
                            uzun ünvan yeri</div>
                    </div>
                </section>
                <section>
                    <div class="details-sections">
                        <div class="detail-header">Təhsil</div>
                        <div class="detail-value">Şagird-orta</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">Xüsusi Status</div>
                        <div class="detail-value">Müharibə veteranı</div>
                    </div>
                </section>
                <section>
                    <div class="details-sections">
                        <div class="detail-header">Peşə adı</div>
                        <div class="detail-value">nəsə</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">İş strukturu</div>
                        <div class="detail-value">Dövlət</div>
                    </div>
                    <div class="details-sections">
                        <div class="detail-header">İş vəzifəsi</div>
                        <div class="detail-value">Digər</div>
                    </div>
                </section>
                <div class="details-sections">
                    <div class="detail-header">Hal=hazırdakı vəzifə</div>
                    <div class="detail-value">Təqaüüdçü</div>
                </div>
                <div class="details-sections">
                    <div class="detail-header">Ümumi məlumat</div>
                    <div class="detail-value">Lorem ipsum dolor sit amet consectetur. Volutpat aliquam massa a
                        posuere turpis nunc. Eu a ultricies quis tristique et orci.</div>
                </div>
        </div>
            `
                table_container.append(div)
            });
        }
        search_btn.addEventListener("click", () => {
            const name = name_inp.value.trim().toLowerCase();
            const surname = surname_inp.value.trim().toLowerCase();
            if (name && surname) {
                const user = users.filter(u => u.name === name && u.surname === surname);
                return List(user)

            }
            if (name && !surname) {
                const user = users.filter(u => u.name === name);
                return List(user)

            }
            if (!name && surname) {
                const user = users.filter(u => u.surname === surname);
                return List(user)

            }
            if (!name && !surname) {
                return List(users)
            }

        })
    </script> -->

</body>

</html>